<!-- Validation failure messages -->
<% if @listing.errors.any? %>
  <% @listing.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>
<% if current_user.id == @listing.user_id then %>
  <div class="container">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Edit Listing
    </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-offset-1 col-md-5">
              <img src="<%= @listing.book.artwork %>"> <%= @listing.book.title %>
            </div>
            <div class="col-md-5">
              <dl class="dl-horizontal">
                <dt>Authors</dt>
                <% @listing.book.authors.each do |author| %>
                  <dd><%= author.author_name %></dd>
                <% end %>
                <dt>Subject</dt>
                <dd><%= @listing.book.subject.subject_number %> - <%= @listing.book.subject.subject_name %></dd>
                <dt>Publisher</dt>
                <dd><%= @listing.book.publisher %></dd>
                <dt>Year</dt>
                <dd><%= @listing.book.year %></dd>
                <dt>Type of Listing</dt>
                <dd><%= @listing.sale_rent %></dd>
                <dt>Current Asking Price</dt>
                <dd><%= number_to_currency(@listing.price) %></dd>
              </dl>
            </div>
          </div>
          <br>
          <form action="/update_listing/<%= @listing.id %>" method="post" class="form-inline">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input name="status_id" type="hidden" value="<%= @listing.status_id %>">
            <!-- Label and input for price -->
            <div class="form-group">
              <label for="price" class="control-label">
                Proposed price:
        </label>
              <input type="text" id="price" name="price" placeholder="Price" class="form-control-sm" value="<%= number_to_currency(@listing.price) %>">
            </div>
            <input name="sale_rent" type="hidden" value="<%= @listing.sale_rent %>">
            <input name="user_id" type="hidden" value="<%= @listing.user_id %>">
            <input name="book_id" type="hidden" value="<%= @listing.book_id %>">
            <button class="btn btn-primary btn-xs">
              Update
      </button>
            or
      <a href="/mylistings">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
<% else %>
  NOT AUTHORIZED
<% end %>
