<!-- Validation failure messages -->
<% if @interest.errors.any? %>
  <% @interest.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<% if current_user.id == @interest.user_id then %>
<div class="container">
<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Edit Bid (Interest)
    </h3>
  </div>
  <div class="panel-body">

  <form action="/update_interest/<%= @interest.id %>" method="post" class="form-inline">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input name="status_id" type="hidden" value="3">
      <!-- Label and input for prop_price -->
      <div class="form-group">
        <label for="prop_price" class="control-label">
          Proposed price:
        </label>
        <input type="text" id="prop_price" name="prop_price" placeholder="Prop price" class="form-control-sm" value="<%= number_to_currency(@interest.prop_price) %>">
      </div>

      <input name="user_id" type="hidden" value="<%= current_user.id %>">
      <input name="listing_id" type="hidden" value="<%= @interest.listing_id %>">
      <button class="btn btn-warning btn-xs">
        Update
      </button>
      or
      <a href="/myinterests">Cancel</a>
    </form>
  </div>
</div>
</div>
</div>
<% else %>
NOT AUTHORIZED
<% end %>
