<div class="page-header">
  <h3>Interest #<%= @interest.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Status</dt>
      <dd><%= @interest.status_id %></dd>

      <dt>Prop price</dt>
      <dd><%= @interest.prop_price %></dd>

      <dt>User</dt>
      <dd><%= @interest.user_id %></dd>

      <dt>Listing</dt>
      <dd><%= @interest.listing_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/interests" class="btn btn-primary">
        Back
      </a>
      <a href="/interests/<%= @interest.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_interest/<%= @interest.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
