<!-- Validation failure messages -->
<% if @book.errors.any? %>
  <% @book.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Book #<%= @book.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_book/<%= @book.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @book.description %>">
      </div>

      <!-- Label and input for publisher -->
      <div class="form-group">
        <label for="publisher" class="control-label">
          Publisher
        </label>

        <input type="text" id="publisher" name="publisher" placeholder="Publisher" class="form-control" value="<%= @book.publisher %>">
      </div>

      <!-- Label and input for isbn13 -->
      <div class="form-group">
        <label for="isbn13" class="control-label">
          Isbn13
        </label>

        <input type="text" id="isbn13" name="isbn13" placeholder="Isbn13" class="form-control" value="<%= @book.isbn13 %>">
      </div>

      <!-- Label and input for artwork -->
      <div class="form-group">
        <label for="artwork" class="control-label">
          Artwork
        </label>

        <input type="text" id="artwork" name="artwork" placeholder="Artwork" class="form-control" value="<%= @book.artwork %>">
      </div>

      <!-- Label and input for subject_id -->
      <div class="form-group">
        <label for="subject_id" class="control-label">
          Subject
        </label>

        <input type="text" id="subject_id" name="subject_id" placeholder="Subject" class="form-control" value="<%= @book.subject_id %>">
      </div>

      <!-- Label and input for year -->
      <div class="form-group">
        <label for="year" class="control-label">
          Year
        </label>

        <input type="text" id="year" name="year" placeholder="Year" class="form-control" value="<%= @book.year %>">
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @book.title %>">
      </div>

      <!-- Label and input for isbn10 -->
      <div class="form-group">
        <label for="isbn10" class="control-label">
          Isbn10
        </label>

        <input type="text" id="isbn10" name="isbn10" placeholder="Isbn10" class="form-control" value="<%= @book.isbn10 %>">
      </div>

      <button class="btn btn-warning">
        Update Book
      </button>
      or
      <a href="/books/<%= @book.id %>">Cancel</a>
    </form>
  </div>
</div>
