<!-- Validation failure messages -->
<% if @book.errors.any? %>
  <% @book.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>
<div class="row">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">
        Add New Book
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <form action="/create_book" method="post" class="form-horizontal">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <!-- Label and input for subject_id -->
            <div class="form-group has-error has-feedback">
              <label for="subject_id" class="col-sm-2 control-label">
                <b>Subject</b>
              </label>
              <div class="col-sm-10">
                <%= select_tag(:subject_id, options_from_collection_for_select(Subject.all.order(:subject_name), :id, :subject_name, @book.subject_id), :class => "form-control", prompt: "Select a Subject") %>
              </div>
            </div>
            <!-- Label and input for artwork -->
            <div class="form-group">
              <label for="artwork" class="col-sm-2 control-label">
                Artwork
        </label>
              <div class="col-sm-10">
                <input type="hidden" id="artwork" name="artwork" placeholder="Artwork" class="form-control" value="<%= @book.artwork %>">
                <img src="<%= @book.artwork %>" align="middle">
              </div>
            </div>
            <!-- Label and input for title -->
            <div class="form-group">
              <label for="title" class="col-sm-2 control-label">
                Title
        </label>
              <div class="col-sm-10">
                <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @book.title %>" readonly>
              </div>
            </div>
            <!-- Label and input for publisher -->
            <div class="form-group">
              <label for="publisher" class="col-sm-2 control-label">
                Publisher
        </label>
              <div class="col-sm-10">
                <input type="text" id="publisher" name="publisher" placeholder="Publisher" class="form-control" value="<%= @book.publisher %>" readonly>
              </div>
            </div>
            <!-- Label and input for isbn13 -->
            <div class="form-group">
              <label for="isbn13" class="col-sm-2 control-label">
                Isbn 13
        </label>
              <div class="col-sm-10">
                <input type="text" id="isbn13" name="isbn13" placeholder="Isbn13" class="form-control" value="<%= @book.isbn13 %>" readonly>
              </div>
            </div>
            <!-- Label and input for year -->
            <div class="form-group">
              <label for="year" class="col-sm-2 control-label">
                Year
        </label>
              <div class="col-sm-10">
                <input type="text" id="year" name="year" placeholder="Year" class="form-control" value="<%= @book.year %>" readonly>
              </div>
            </div>
            <!-- Label and input for isbn10 -->
            <div class="form-group">
              <label for="isbn10" class="col-sm-2 control-label">
                Isbn 10
        </label>
              <div class="col-sm-10">
                <input type="text" id="isbn10" name="isbn10" placeholder="Isbn10" class="form-control" value="<%= @book.isbn10 %>" readonly>
              </div>
            </div>
            <!-- Label and input for description -->
            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">
                Description
        </label>
              <div class="col-sm-10">
                <textarea type="text" id="description" name="description" placeholder="Description" class="form-control input-sm" rows="5" readonly><%= @book.description %></textarea>
              </div>
            </div>
            <button class="btn btn-success">
              Create Book
      </button>
            or
      <a href="/books">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
