<p></p>
<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Book Details
        </h3>
      </div>
      <div class="panel-body">
        <div class="col-md-offset-1 col-md-4">
          <img src="<%= @book.artwork %>"> <%= @book.title %>
        </div>
        <div class="col-md-5">
          <dl class="dl-horizontal">
            <dt>Authors</dt>
            <% @book.authors.each do |author| %>
              <dd><%= author.author_name %></dd>
            <% end %>
            <dt>Subject</dt>
            <dd><%= @book.subject.subject_number %> - <%= @book.subject.subject_name %></dd>
            <dt>Publisher</dt>
            <dd><%= @book.publisher %></dd>
            <dt>Year</dt>
            <dd><%= @book.year %></dd>
            <dt>Isbn13</dt>
            <dd><%= @book.isbn13 %></dd>
            <dt>Isbn10</dt>
            <dd><%= @book.isbn10 %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-book"></i> Listings
        </h3>
      </div>
      <div class="panel-body">
        <div class="col-md-offset-1 col-md-10">
          <%= render("/shared/new_post.html.erb",
          :mouseover   => "Create new Listing",
          :destination => "/listings/new?book_id="+@book.id.to_s,
          :content     => ["fa fa-plus", "fa fa-th-list"]
          )%>
        </div>
        <table class="table table-striped table-hover">
          <tr>
            <th>Status</th>
            <th>Price</th>
            <th>Type</th>
            <th>Seller</th>
            <th>Book</th>
            <th>Actions</th>
          </tr>
          <% @listings.each do |listing| %>
            <tr>
              <td><%= listing.status.status %></td>
              <td><%= listing.price %></td>
              <td><%= listing.sale_rent %></td>
              <td><%= listing.user.username.capitalize %></td>
              <td><%= listing.book.title %></td>
              <td>
                <% if can_bid?(listing) %>
                  <span title="Bid"><a href="/interests/new/<%= listing.id %>" class="btn btn-success btn-xs"><i class="fa fa-shopping-cart"></i>
                    </a></span>
                <% end %>
                <% if can_rebid?(listing) %>
                  <span title="Re-bid"><a href="/interests/<%= listing.interests.find_by({:user_id => current_user.id}).id %>/edit" class="btn btn-warning btn-xs"><i class="fa fa-cart-plus"></i>
                    </a></span>
                <% end %>
                <% if can_edit?(listing) then %>
                  <span title="Edit"><a href="/listings/<%= listing.id %>/edit" class="btn btn-warning btn-xs"><i class="fa fa-pencil-square-o"></i>
                    </a></span>
                  <a href="/delete_listing/<%= listing.id %>" class="btn btn-danger btn-xs" rel="nofollow"><i class="fa fa-trash"></i>
                  </a>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-bookmark"></i> Wishlists
        </h3>
      </div>
      <div class="panel-body">
        <div class="col-md-offset-1 col-md-10">
          <%= render("/shared/new_post.html.erb",
          :mouseover   => "Create New Wishlist",
          :destination => "/wishlists/new?book_id="+@book.id.to_s,
          :content     => ["fa fa-plus", "fa fa-bookmark"]
          )%>
        </div>
        <table class="table table-striped table-hover">
          <tr>
            <th>Status</th>
            <th>Price</th>
            <th>Type</th>
            <th>Buyer</th>
            <th>Book</th>
            <th>Actions</th>
          </tr>
          <% @wishlists.each do |wishlist| %>
            <tr>
              <td><%= wishlist.status.status %></td>
              <td><%= wishlist.price %></td>
              <td><%= wishlist.sale_rent %></td>
              <td><%= wishlist.user.username.capitalize %></td>
              <td><%= wishlist.book.title %></td>
              <td>
                <% if wishlist.user.id == current_user.id then %>
                  <span title="Edit"><a href="/wishlists/<%= wishlist.id %>/edit" class="btn btn-warning btn-xs"><i class="fa fa-pencil-square-o"></i></a></span>
                  <span title="Delete"><a href="/delete_wishlist/<%= wishlist.id %>" class="btn btn-danger btn-xs" rel="nofollow"><i class="fa fa-trash"></i></a></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if current_user.username == "admin" then %>
      <div class="btn-group-xs btn-group-justified">
        <a href="/books" class="btn btn-primary">
          Back
      </a>
        <a href="/books/<%= @book.id %>/edit" class="btn btn-warning">
          Edit
      </a>
        <a href="/delete_book/<%= @book.id %>" class="btn btn-danger" rel="nofollow">
          Delete
      </a>
      </div>
    <%  end %>
  </div>
</div>
