<div class="page-header">
  <h1>
    Subjects
    <a href="/subjects/new" class="btn btn-lg btn-success">New Subject</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Subject number</th>
        <th>Subject name</th>
        <th>Actions</th>
      </tr>

      <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.subject_number %></td>
        <td><%= subject.subject_name %></td>
        <td>
          <a href="/subjects/<%= subject.id %>" class="btn btn-primary">Show</a>
          <a href="/subjects/<%= subject.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_subject/<%= subject.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
