<div class="page-header">
  <h3>Subject #<%= @subject.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Subject number</dt>
      <dd><%= @subject.subject_number %></dd>

      <dt>Subject name</dt>
      <dd><%= @subject.subject_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/subjects" class="btn btn-primary">
        Back
      </a>
      <a href="/subjects/<%= @subject.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_subject/<%= @subject.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
