<table class="table table-striped table-condensed table-hover">
  <tr>
    <th>Price</th>
    <th>Price +/-</th>
    <th>Seller</th>
    <th>Time in Market</th>
    <th>Actions</th>
  </tr>
  <!-- should loop here -->
  <% listings = wishlist.listings.where({:id => @nonavailable_listings, :book_id => wishlist.book_id}) %>
  <% listings.each do |listing| %>
    <tr>
      <td><%= number_to_currency(listing.price) %></td>
      <td><font color=" <%= if wishlist.price - listing.price >= 0 then 'green' else 'red' end %>">
          <%= number_to_currency(listing.price-wishlist.price) %></font>
      </td>
      <td><%= listing.user.username.capitalize %></td>
      <td><%= time_ago_in_words(listing.updated_at)%> ago</td>
      <td>
        <% if can_bid?(listing) %>
          <span title="Bid"><a href="/interests/new/<%= listing.id %>" class="btn btn-success btn-xs"><i class="fa fa-shopping-cart"></i>
            </a></span>
        <% end %>
        <% if can_rebid?(listing) %>
          <span title="Re-bid"><a href="/interests/<%= listing.interests.find_by({:user_id => current_user.id}).id %>/edit" class="btn btn-warning btn-xs"><i class="fa fa-cart-plus"></i>
            </a></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
